$background-color-themeS1: #292e3b; //导航背景主题颜色1
$background-color-themeE1: #161b30; //导航背景主题颜色1
$background-color-themeS2: #22293d; //导航背景主题颜色2
$background-color-themeE2: #394886; //导航背景主题颜色2

$botton-back-color1: #3366ff; // 按钮背景色1
$botton-hover-back-color1: #5a83ff; // 按钮背景色上移颜色1
$botton-back-color2: #3366ff; // 按钮背景色2
$botton-hover-back-color2: #5a83ff; // 按钮背景色上移颜色2

$font-color-theme1: #cecece; //字体主题颜色1
$font-color-theme2: #000; //字体主题颜色2

$title-color1: #8f9bb3; // 标题色1
$title-color2: #8f9bb3; // 标题色2

$title-sec-color1: #fff; // 二级标题色1
$title-sec-color2: #fff; // 二级标题色2

$curmbs-color1: #0f1425; // 面包屑背景色&内容主背景色1
$curmbs-color2: #0f1425; // 面包屑背景色&内容主背景色2

$input-bg-color1: #1e252a; // 输入框背景颜色1
$input-bg-color2: #1e252a; // 输入框背景颜色2

$Nav-imgPath1: '../../../../public/images/CBack.png'; // 二级菜单背景图片1
$Nav-imgPath2: '../../../../public/images/CBack2.png'; // 二级菜单背景图片2

$main-imgPath1: '../../../public/images/CBack.png'; // 系统背景图片1
$main-imgPath2: '../../../public/images/CBack2.png'; // 系统背景图片2

$main-shadow1: rgba(8, 12, 18, .6); // 系统背景透明遮罩1
$main-shadow2: rgba(8, 12, 18, .6); // 系统背景导航遮罩2

$sec-bg-color1: #13191f; // 子页面背景色1
$sec-bg-color2: #13191f; // 子页面背景色2

$compont_title1: #161c29; // 各组件头部背景1
$compont_title2: #161c29; // 各组件头部背景2

// 告警等级
$level0: #999;
$level1: #e9421f;
$level2: #ffa235;
$level3: #ffd939;
$level4: #1989fa;
$level5: #03a008;
$level6: #6343af;
// hover
$hover: #2b2c33;

$font-color-shallow0: #000;
$font-color-shallow1: #111;
$font-color-shallow2: #222;
$font-color-shallow3: #333;
$font-color-shallow4: #444;
$font-color-shallow5: #555;
$font-color-shallow6: #666;
$font-color-shallow7: #777;
$font-color-shallow8: #888;
$font-color-shallow9: #999;
$font-color-shallowdb: #dbdbdb;

//字体定义规范
$font_10: 10px;
$font_11: 11px;
$font_12: 12px;
$font_13: 13px;
$font_14: 14px;
$font_15: 15px;
$font_16: 16px;
$font_17: 17px;
$font_18: 18px;
$font_19: 19px;
$font_20: 20px;
$font_21: 21px;
$font_22: 22px;
$font_23: 23px;
$font_24: 24px;
$font_25: 25px;
